/* Estilos específicos para a página de trilhas */
.trilhas-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 45px;
  padding: 30px;
  max-width: 1800px;
  margin: 0 auto;
}

.trilha {
  background: var(--light-color);
  padding: 37.5px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: var(--transition);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trilha h3 {
  font-size: 27px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.trilha p {
  font-size: 18px;
  line-height: 1.6;
}

.trilha i {
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.trilha:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .trilhas-lista {
    grid-template-columns: 1fr;
    padding: 15px;
  }
  
  .trilha {
    padding: 30px;
  }
  
  .trilha h3 {
    font-size: 24px;
  }
  
  .trilha p {
    font-size: 16px;
  }
}